body {
  background-color: #282c34;
}

.main_container {
  height: 100vh;
  background-image: linear-gradient(
    to right top,
    #db0b5f,
    #db0079,
    #b200c3,
    #6f00ed
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.game_container {
  background-color: rgba(255, 255, 255, 0.3);
  height: 450px;
  width: 400px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.game_container div {
  width: 120px;
  height: 120px;
  background-color: #db0b5f;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.game_container div i {
  color: white;
  font-size: 60px;
}

.circle-1 {
  width: 150px;
  height: 150px;
  background-color: #6f00ed;
  border-radius: 50%;
  position: absolute;
  top: 2%;
  left: 28%;
  z-index: 1;
}

.circle-2 {
  width: 150px;
  height: 150px;
  background-color: #6f00ed;
  border-radius: 50%;
  position: absolute;
  top: 70%;
  left: 65%;
  z-index: 1;
}

@media only screen and (max-width: 500px) {
  .game_container {
    height: 250px;
    width: 200px;
  }
  .game_container div {
    width: 50px;
    height: 50px;
  }
  .game_container div i {
    font-size: 20px;
  }
  .circle-1 {
    top: 10%;
    left: 15%;
  }
  .circle-2 {
    top: 50%;
  }
}
